small, .small {
	font-size: 0.8em;
	font-style: italic;
	line-height: 1.2;
}

small.heading, .small.heading {
	font-style: normal;
}

em, .em {
	color: #f98700;
}

.center-text {
	display: block !important;
	text-align: center;
}

/* Styles */
.header-style {
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 3em;
}

.subheader-style {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
}

.alert {
	color: red;
	font-weight: bold;
	font-size: 1.1em;
}

.note {
	color: red;
	font-style: italic;
}

.inline-block {
	display: inline-block;
}

/** LoginWidget **/

.LoginWidget {
	padding-top: 100px;
}

.LoginWidget .header-text {
	font-size: 30px;
	padding-bottom: 30px;
	color: #444;
}

table.login-table {
	width: 600px;
	margin: 0 auto;
}

table.login-table .label {
	font-size: 2em;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: right;
}

table.login-table .value input {
	padding: 5px 5px 10px 5px;
	border: 1px solid grey;
	font-size: 2em;
	width: 100%;
	color: #555;
	margin-bottom: 8px;
}

.login-button {
	display: block;
	border:1px solid grey;
	padding: 10px 10px 10px 10px;
	font-size: 2em;
	color: #555;
	width: 150px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	background: #FFD700;
	cursor: pointer;
	border-radius: 4px;
}

.login-button.active:hover {
	background: #FFFACD;
}

.login-button.inactive {
	opacity: 0.3;
	cursor: default;
}

.login-message {
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
	color: orange;
	font-style: italic;
	text-align: center;
}

.start-trial-btn {
	width: 300px;
	font-size: 1.2em;
}

.wide-btn {
	width: 300px;
}

.forgot-password {
	float: right;
	text-decoration: underline;
	cursor: pointer;
}

.forgot-password-success {
	display: none;
}

.hide {
	display: none;
}

/** PageHeaderWidget **/
.PageHeaderWidget {
	font-family: "Quicksand";
	text-align: center;
	font-size: 2.5em;
	border-bottom: 1px solid #263545;
	border-top: 1px solid #263545;
	padding: 13px;
	width: 500px;
	margin: 0 auto;
	margin-bottom: 30px;
}

/** TextWidget **/
.TextWidget {
	white-space: pre-wrap;
	display: inline;
	vertical-align: baseline;
}

.TextWidget.editable {
	background: white;
	border: 1px solid grey;
	padding: 2px;
}

/** HeaderWidget **/
.HeaderWidget {
	font-family: "Quattrocento Sans";
	font-size: 2em;
	color: #E40375;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}

/** LabelWidget **/
.LabelWidget {
	text-align: right;
	color: #555;
}

/** InputWidget **/
.InputWidget {
	cursor: text;
}

.InputWidget input, .TextAreaWidget textarea {
	width: 100%;
	color: #333;
}

.InputWidget input, .TextAreaWidget textarea {
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -ms-transition: all 0.10s ease-in-out;
  -o-transition: all 0.10s ease-in-out;
  outline: none;
  padding: 9px 3px 9px 5px;
  margin: 0px 0px 0px 0px;
  border: 1px solid #999;
  border-radius: 4px;
}
 
.InputWidget input:focus, .TextAreaWidget textarea:focus {
  box-shadow: 0px 0px 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

/** TextAreaWidget **/
.TextAreaWidget {
/*	border: 1px solid black;
	border-radius: 2px;
	cursor: text;
	padding: 3px;*/
}

/** ButtonWidget
    Styles: thin 
**/
.ButtonWidget {
	display: inline-block;
	border-radius: 4px;
	background: #263545;
	border: 1px solid transparent;
	color: #0000ff;
	cursor: default;
	font-family: "Roboto Slab";
	font-weight: 300;
	vertical-align: baseline;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}

.ButtonWidget.active {
	cursor: pointer;
	color: white;
}

.ButtonWidget.active:hover {
	background: #6DBCDB;
	transition: all 0.2s ease;
	color: black;
}

.ButtonWidget.inactive {
	opacity: 0.5;
	vertical-align: bottom;
}

.ButtonWidget .text-section {
	display: inline-block;
	padding: 6px 14px 6px 14px;
	vertical-align: baseline;
}

.ButtonWidget.thin .text-section {
	padding: 2px 8px 2px 8px;
}

.ButtonWidget.inactive .right-section {
	display: inline-block;
	padding: 5px 3px 0px 0px;
}

.ButtonWidget.thin.inactive .right-section {
	padding: 0px 3px;
}

.ButtonWidget.demoted {
	color: grey;
}

/** LinkWidget **/
.LinkWidget {
	font-family: "open sans";
	font-weight: 300;
	size: 0.8em;
	display: inline-block;
	vertical-align: baseline;
}

.LinkWidget .text-section {
	display: inline;
	vertical-align: baseline;
}

.LinkWidget.inactive .right-section {
	display: inline;
}

.LinkWidget.bold-link {
	font-weight: 400;
}

.link {
	/*text-decoration: underline;*/
	cursor: pointer;
	/** color: #75ADC6; old blue */
	color: #2f98d9;
}

.link:hover {
	color: red;
}

/**
  TableWidget
  Styles: v-align-middle 
**/
.TableWidget {
	margin-bottom: 20px;
	display: inline-block;
	padding-right: 1px; /* 100% tables lose some right border without this */
}

.TableWidget .search-outer {
	display: none;
	position: relative;
	width: 100%;
	background: green;
}

.TableWidget .search-inner {
	position: absolute;
	right: 0px;
	width: 150px;
	height: 20px;
	top: -45px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px 1px 1px 3px;
}

.TableWidget .search-inner input {
	width: 120px;
	display: inline-block;
	font-size: 0.9em;
	color: #354E73;
}

.TableWidget .search-inner .search {
	float: right;
	color: #888;
	padding:0px 5px;
	cursor: pointer;
}

.TableWidget > table {
	clear: both;
}

.TableWidget > table > tbody > tr:hover > td {
	background: #f5f5f5;
}

.TableWidget > table > thead > tr > th {
	background: #EFFAB4;
	color: #E40375;
	padding: 15px 15px 15px 10px;
	text-align: left;
	border: 1px solid #ccc;
	white-space: pre-wrap;
	font-family: "Open Sans";
	font-weight: 300;
}

.TableWidget >table > tbody > tr > td {
	background: white;
	padding: 10px;
	border: 1px solid #ccc;
	color: #666;
}

.TableWidget.v-align-middle >table > tbody > tr > td {
	vertical-align: middle;
}

.TableWidget > table > tfoot > tr > td {
	background: white;
	height: 10px;
	padding: 20px 0 20px 0;
	float: left;
}

.TableWidget .pager {
	display: none;
	font-size: 0.8em;
	width: 100px;
	color: #354E73;
}

.TableWidget .mover {
	cursor: pointer;
}

.TableWidget .mover {
	padding: 10px;
}

.TableWidget .mover:hover {
	color: red;
}

/** PanelWidget **/
.PanelWidget .label {
	padding-top: 7px;
	padding-right: 8px;
	white-space: pre-wrap;
}

.PanelWidget .value {
	padding-bottom: 4px;
}

/** LineWidget (Line breaks) **/

/** SpaceWidget **/
.SpaceWidget {
	display: inline-block;
	height: 2px;
}

/** MenuWidget **/
.MenuWidget {
	font-family: "Quicksand";
	font-weight: 400;
	margin: 0px 0px 0px 0px;
}

.MenuWidget .menuItem {
	display: inline-block;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
}

.menuWIdget .menuItem:hover {
	background: #C4273C;
}

.MenuWidget .menuName {
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1em;
}

.MenuWidget .menuItem.selected .menuName {
	color: #263545;
	font-weight: 700;
}

.MenuWidget .menuItem.selected  {
	
}

.MenuWidget .menuItem .menuName:hover {
	
}

/** LoadingWidget **/
.LoadingWidget.page-mode {
	padding-top: 50px;
	width: 50px;
	margin: 0 auto;
}

.LoadingWidget img {
	width: 20px;
	height: 20px;
}

.LoadingWidget .right.active {
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
	margin-top: 3px;
}

/** DialogWidget **/

.sirra-dialog.ui-dialog {
	padding: 0px !important;
	border: 0px solid white !important;
	box-shadow: 0px 10px 50px 5px rgba(0,0,0,0.5);
}

.sirra-dialog .ui-dialog-titlebar {
	background: #95c047;
	color: white;
	font-family: "Roboto Slab";
	font-weight: 300;
	font-size: 1.1em;
	padding: 20px 20px;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border: 0px solid black;
}

.sirra-dialog .ui-dialog-title {
	overflow: visible;
}

.sirra-dialog.ui-dialog .ui-dialog-content {
	padding: 25px 35px 25px 35px;
}

.sirra-dialog .ui-dialog-buttonpane {
	padding: 25px 40px;
	background: #f5f5f5;
}

.sirra-dialog .right-buttons {
	text-align: right;
	padding-top: 5px;
}


.DialogWidget {
	overflow: visible !important;
}

.DialogWidget .dw-content {
	padding-top: 10px;
}


/** FormWidget **/
.FormWidget .left {
	padding: 11px 14px 4px 0px;
}

.FormWidget .right {
	padding-bottom: 6px;
}

/** ColumnWidget **/
.ColumnWidget .col {
	padding-left: 30px;
}

/** DivWidget **/
.DivWidget.info-box {
	border: 1px solid grey;
	box-shadow: 5px 5px 5px #888;
	padding: 20px;
	background: white;
	position: relative;
}

.DropDownWidget {
	padding: 11px 0px;
}

.EasySelectorWidget .input-section {
	color: #333;
	outline: none;
	padding: 7px 3px 3px 5px;
	margin: 0px 0px 0px 0px;
	border: 1px solid #999;
	border-radius: 4px;
}

.EasySelectorWidget input {
	vertical-align: top;
	padding: 3px;
}

.EasySelectorWidget .item-holder {
	display: inline-block;
}
	
.EasySelectorWidget .item {
	display: inline-block;
	color: white;
	background: #6DBCDB;
	cursor: default;
	padding: 0px 0px 0px 7px;
	border-radius: 3px;
	margin-right: 6px;
	overflow: hidden;
}

.EasySelectorWidget .item span {
	padding: 0px 5px 0px 0px;
}

.EasySelectorWidget .item .delete {
	display: inline-block;
	vertical-align: baseline;
	padding: 3px 5px;
	background: ee0000;
	cursor: pointer;
	color: #ccc;
}

.EasySelectorWidget .item .delete:hover {
	color: white;
	background: red;
}

.EasySelectorWidget .outer {
	position: relative;
	top: -1px;
	width: 100%;
}

.EasySelectorWidget .inner {
	position: absolute;
	width: 100%;
	background: white;
}

.EasySelectorWidget .frame {
	padding: 5px 0px 5px 0px;
	border: 1px solid #6DBCDB;
	border-radius: 2px;
}

.EasySelectorWidget .option {
	padding: 4px 8px 3px 8px;
	cursor: pointer;
}

.EasySelectorWidget .option:hover {
	background: #D3EBF4;
}

.EasySelectorWidget .frame-bottom {
	display: none;
	padding: 5px;
	cursor: pointer;
}

.EasySelectorWidget .frame-bottom:hover {
	color: red;
}

.ThumbWidget {
	margin-right: 20px !important;
}

.ModeWidget {
	float: right;
}

.CheckboxWidget {
	display: inline;
	vertical-align: baseline;
}

.CheckboxWidget input {
	vertical-align: baseline;
}

.FullWidthWidget {
	position: absolute;
	left: 0px;
	width: 100%;
	min-width: 900px;
	background: white;
}

.FullWidthWidget .content {
	margin: 0 40px;
}